body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
}

nav {
  font-weight: 600;
}
nav ul {
  z-index: 1;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.lavori_cv {
  display: flex;
  width: 60%;
  justify-content: center;
}
.lavori_cv li {
  margin-left: 5%;
}
.lavori_cv a {
  color: white;
}

.home {
  display: flex;
  width: 60px;
  background-color: black;
  color: white;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.home li {
  margin: 5px;
}

.modalita {
  display: flex;
  height: 30px;
  width: 80px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.menu_sticky {
  z-index: 1;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid black;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .immagine_viso {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
  margin-top: 80px;
}
header .testo_descrizione {
  width: 90%;
  margin-top: 20px;
  text-align: center;
}

.social li {
  display: inline-block;
  padding: 20px;
  margin-top: 10px;
  justify-content: center;
}
.social li img {
  width: 40px;
}

#contattami {
  background-color: black;
  color: white;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.input_email {
  margin-bottom: 10px;
}

button {
  width: 50px;
  background-color: green;
  color: white;
  margin: auto;
  display: block;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

textarea {
  outline: none;
  border-radius: 10px;
}

input {
  border-radius: 5px;
  outline: none;
}

.torna_su {
  width: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: right;
}

#lavori {
  background-color: black;
  color: white;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 50px;
  color: white;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100px;
}

body.light-theme {
  background-color: white;
  color: black;
}

body.dark-theme {
  background-color: black;
  color: rgb(183, 183, 183);
}
body.dark-theme .menu_sticky {
  border-bottom: 2px solid rgb(67, 64, 64);
}
body.dark-theme .footer {
  border-top: 2px solid rgb(67, 64, 64);
}
body.dark-theme .torna_su {
  border: 2px solid rgb(67, 64, 64);
}
body.dark-theme .torna_su a svg {
  fill: aqua;
  filter: invert(100%);
}
body.dark-theme #lavori, body.dark-theme #contattami {
  margin-top: 10px;
  background-color: rgb(67, 64, 64);
  color: rgb(183, 183, 183);
}
body.dark-theme .immagine_viso {
  border: 2px solid white;
}
body.dark-theme .social li {
  background-color: white;
  border-radius: 10px;
}

@media (min-width: 332px) and (max-width: 600px) {
  main {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .python {
    width: 90%;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
  }
  main .python img {
    position: relative;
    bottom: 10px;
  }
  main .html {
    width: 90%;
    height: 150px;
    margin-bottom: 10px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 10px;
  }
  main .html img {
    position: relative;
    bottom: 40px;
  }
  main .javascript {
    width: 90%;
    height: 150px;
    margin-bottom: 10px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 10px;
  }
  main .javascript img {
    position: relative;
    bottom: 40px;
  }
  main .testo_py {
    width: 90%;
    height: 100px;
  }
  main .testo_html {
    width: 90%;
    height: 100px;
  }
  main .testo_js {
    width: 90%;
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */